body{
    background-color: cornsilk;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin-left: 20px;
    margin-top: 15px;
    color: orangered;

    
}
#topnav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
}
#sidetop{
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}
.top{
    border: transparent;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    color: orangered;
    font-weight: bolder;
    font-size: larger;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
.top:hover{
    background-color: rgba(172, 172, 172, 0.115);
    transform: scale(1.1);
    text-decoration: underline black;
}
input{
    border-color: transparent;
    background-color: transparent;
    border-color: orangered;
    border-radius: 30px;
    padding-top: 10px;
}
#banner img{
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(255, 220, 179, 0.689);
}
.pakka{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.raise:hover{
    transform: translateY(-5px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.529);
    transform: scale(1.03);
}
#dot{
    display: flex;
    justify-content: center;
}
#samsung{
    max-width: 1500px;
    min-width: 700px;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.size{
    display: flex;
    min-width: 160px;
    min-height: 90px;
    max-width: 320px;
    max-height: 180px;
}
#wed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.raise{
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(255, 211, 175, 0.741);
}
#i{
    gap: 20px;
}
.raise2:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 30px rgb(114, 114, 114);
}
#cart:hover{
    transform: scale(1.3);
}
#search{
    border-color: transparent;
    outline: 3px solid orangered;
}
#footers{
    display: flex;
    justify-content: space-around;
}
ul{
    color: rgb(64, 17, 0);
}
.foot{
    color: rgb(129, 101, 80);
}