body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#port{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#intro{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
#intro:hover{
    transform: scale(1.01);
    transition: 0.3s;
}
.pakka:hover{
    transform: scale(1.2) translateY(-5px);
    color: rgb(27, 109, 241);
    transition: 0.3s;
}
#top{
    display: flex;
    justify-content: center;
    gap: 20px;
    outline: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 3px 7px 5px 7px; 
    background-color: transparent;
    backdrop-filter: blur;
    box-shadow: 0px 0px 15px grey;
}
#top a{
    color: black;
    text-decoration: none;
    position: sticky;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#top a:hover{
    color: white;
}
.topp:hover{
    border-radius: 30px;
    margin-top: 3px;
    padding: 0px 5px 2px 5px ;
    background-color: black;
    color: azure;
    transition: 0.5s;
    transform: translateY(-1px);
}
.topp:visited{
    border-radius: 30px;
    padding: 3px 5px 3px 5px;
    background-color: black;
}
#topper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}
.align{
    display: flex;
    align-items: center;
}
#quote{
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pakka2:hover{
    transform: scale(1.1) translateY(-1px);
    text-decoration: double;
    color: grey;
    transition: 0.2s;

}
#about:hover{
    transform: scale(1.01);
    transition: 0.2s;
}
#about{
    background-color: white;
    box-shadow: 0px 0px 15px rgb(202, 202, 202);
    border-radius: 15px;
    padding: 5px 10px 5px 10px
}
#quote:hover{
    transform: scale(1.01);
    transition: 0.2s;
}
#topper:hover{
    transform: scale(1.02) translateY(-0.5px);
    transition: 0.2s;
}
.socialmedia:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
footer{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.my{
    box-shadow: 0px 0px 10px rgb(161, 161, 161);
    width: 300px;
    height: 140px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#divmy{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.in{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.in b{
    font-size: 25px;
}
.my:hover{
    transform: scale(1.05);
    transition: 0.5s;
}